.App {
  text-align: center;
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(221, 223, 238);
}
.dashHeader:hover, .profHeader:hover  {
 background-color: rgb(90, 91, 111);
 cursor: pointer;
}
.dashHeader, .profHeader {
  width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
}
.currentBalance {
  padding: 1em;
}

.dashboard, .profile , .container{
 display: flex;
 flex-direction: column;
 justify-content: baseline;
 background-color: thistle;
 margin-top: 0;
 height: 90vh;
}

.transactionsBox {
  background-color:rgb(90, 91, 111);
  color: white;
  align-self: center;
  border-radius: .5em;
  height: 20em;
  width: 25em;
  padding: 1em;
  overflow-y: scroll;
}
button, #submit, input {
  border-radius: 2%;
  background-color: rgb(226, 235, 252);
  color: rgb(6, 6, 214);
  border-width: .5em;
  border-color: darkblue;
  border-style: none;
  font-weight: bold;
  padding: 1em;
}
#cancelButton {
  background-color: white;
  color: red;
  border-radius: '50%';
  align-self: flex-end;
  margin: 0
}
select {
  -ms-progress-appearance: none;
}
#addButton:hover {
  cursor: pointer;
  background-color: crimson;
  padding: 1%;
}
.card {
  padding: .5em;
}
input:invalid {
  background-color: rgb(248, 175, 199);
}
input {
  width: 14em;
  height: 3em;
  padding: .5em;
  margin: .5em;
  font-size: medium;
}
select {
  width: 12em;
  height: 3.5em;
  padding: .5em;
  margin: .5em;
  background-color: rgb(226, 235, 252);
  font-weight: bold;
  font-size: medium;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  align-items: center;
}
.fields {
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#randomButton {
  font-size: medium;
  border-radius: .5em;
  color:#dde5f4;
  background-color: rgb(57, 57, 73);
}
#randomButton:hover {
  font-size: medium;
  border-radius: .5em;
  color:#282c34;
  background-color:rgb(90, 91, 111);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
